.header {
  background-color: white;
  padding: 0 25px 0 25px;
  box-shadow: 0 3px 5px #ccc;
}

.headerSticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.leftItems {
  float: left;
  font-size: 20px;
}
.rightItems {
  float: right;
}

.avatar {
  margin-left: 10px;
}
